{% extends "layout.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
    {% trans "Change Password" %}
{% endblock title %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">
            {% if token_fail %}
              Token Inválido
            {% else %}
              {% trans "Change Password" %}
            {% endif %}
          </h2>

          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
              El enlace para restablecer la contraseña es inválido, posiblemente porque ya se ha utilizado. 
              Por favor, solicita un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña</a>.
            </p>
          {% else %}
            <form method="post" action="{{ action_url }}" class="needs-validation" novalidate>
              {% csrf_token %}
              {{ form.as_p }}

              <button class="btn btn-primary btn-block mt-3" type="submit">{% trans 'Change Password' %}</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<style>
    .footer-distributed {
      bottom: 0%;
      position: absolute;
    }
</style>
{% endblock %}