{% extends "layout.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
    {% trans "Cambiar Contraseña" %}
{% endblock title %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">{% trans "Cambiar Contraseña" %}</h2>
          <p>{% trans 'Tu contraseña ha sido cambiada exitosamente.' %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<style>
    .footer-distributed {
      bottom: 0%;
      position: absolute;
    }
</style>
{% endblock %}
