{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Restablecer contraseña - Zayro Disfraces
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
  <div class="container mt-5 mb-5 ">
    <div class="row justify-content-center ">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-body formulario">
            <h2 class="text-center mb-4">Restablecer contraseña</h2>
            <p class="text-center">Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada. Si no has recibido el correo, revisa tu carpeta de spam o contacta con nosotros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<style>
    .footer-distributed {
      bottom: 0%;
      position: absolute;
    }
</style>
{% endblock %}