{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Restablecer contraseña - Zayro Disfraces
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %} 

{% block content %}
  <div class="container mt-5 mb-5 ">
    <div class="row justify-content-center ">
      <div class="col-md-6 ">
        <div class="card ">
          <div class="card-body formulario">
            <h2 class="text-center mb-4">Restablecer contraseña</h2>
            <form method="post" class="needs-validation" novalidate>
              {% csrf_token %}

              {% if form.errors %}
                <div class="alert alert-danger" role="alert">Hubo un error con el correo ingresado. Por favor, corrígelo.</div>
              {% endif %}

              <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Correo electrónico</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              </div>

              <button class="btn-block" type="submit">Enviar correo de restablecimiento</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<style>
    .footer-distributed {
      bottom: 0%;
      position: absolute;
    }
</style>
{% endblock %}